name: Build and Release

permissions:
  contents: write

on:
  push:
    branches: ["main"]
    paths-ignore:
      - 'README.md'
      - '.gitignore'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install cbindgen
      uses: baptiste0928/cargo-install@v3
      with:
        crate: cbindgen

    - name: Build release
      run: |
        cargo build --release
        mv target/x86_64-unknown-none/release/libos_terminal.a libos_terminal-x86_64.a
        mv target/i686-unknown-none/release/libos_terminal.a libos_terminal-i686.a
        mv target/aarch64-unknown-none-softfloat/release/libos_terminal.a libos_terminal-aarch64.a
        mv target/riscv64imac-unknown-none-elf/release/libos_terminal.a libos_terminal-riscv64.a
        mv target/loongarch64-unknown-none-softfloat/release/libos_terminal.a libos_terminal-loongarch64.a

        FONT_PATH="../fonts/SourceCodePro.otf" cargo build --release --features embedded-font
        mv target/x86_64-unknown-none/release/libos_terminal.a libos_terminal-embedfont-x86_64.a
        mv target/i686-unknown-none/release/libos_terminal.a libos_terminal-embedfont-i686.a
        mv target/aarch64-unknown-none-softfloat/release/libos_terminal.a libos_terminal-embedfont-aarch64.a
        mv target/riscv64imac-unknown-none-elf/release/libos_terminal.a libos_terminal-embedfont-riscv64.a
        mv target/loongarch64-unknown-none-softfloat/release/libos_terminal.a libos_terminal-embedfont-loongarch64.a

        FONT_PATH="../fonts/FiraCodeNotoSans.ttf" cargo build --release --features embedded-font
        mv target/x86_64-unknown-none/release/libos_terminal.a libos_terminal-embedfont-sc-x86_64.a
        mv target/i686-unknown-none/release/libos_terminal.a libos_terminal-embedfont-sc-i686.a
        mv target/aarch64-unknown-none-softfloat/release/libos_terminal.a libos_terminal-embedfont-sc-aarch64.a
        mv target/riscv64imac-unknown-none-elf/release/libos_terminal.a libos_terminal-embedfont-sc-riscv64.a
        mv target/loongarch64-unknown-none-softfloat/release/libos_terminal.a libos_terminal-embedfont-sc-loongarch64.a

    - name: Generate header
      run: cbindgen --output os_terminal.h

    - name: Get current date
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

    - name: Release artifacts
      uses: softprops/action-gh-release@v2
      with:
        name: ${{ steps.date.outputs.date }}
        tag_name: ${{ steps.date.outputs.date }}
        files: |
          libos_terminal-*.a
          os_terminal.h
